<% content_for :styles do %>
  <%= stylesheet_link_tag "backoffice/products" %>
<% end %>
<section class="header-section">
  <h1>Nueva Venta</h1>
</section>
<%= render partial: "backoffice/back_button" %>
<%= render partial: "sale_form" %>

