<h1>Nuevo Usuario</h1>
<%= form_with model: [:backoffice, @user], html: { multipart: true }, local: true do |f| %>
  <%= render partial: "new_user_form", locals: { f: f } %>
  <div class="form-actions">
    <%= f.submit "Crear", class: "btn-submit" %>
  </div>
<% end %>
<%= render partial: "backoffice/back_button" %>